
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Possible chats, Click to see">
        <ng-template ngbPanelContent>

          
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="newRoom" placeholder="create room">
                  </div>
                  <div class="col-sm">
                    <button class="btn btn-primary" (click)="createRoom()">create</button>
                  </div>
              
                </div>
              </div>
              
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h1>Possible Chat Rooms</h1>
                  </div>
                </div>
                <div class="row" *ngFor="let channel of lobbyChannels; let i = index">
                  <div class="col-sm">
                    <div class="AAA">{{channel.name}}</div>
                  </div>
                  <div class="col-sm">
                    <button class="btn-success" (click)="joinRoom(channel.name)">join!</button>
                  </div>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
</ngb-accordion>

<ngb-accordion #arc2="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Joined chats, click to see your chat rooms">
    <ng-template ngbPanelContent>
        <h2>Joined Chat rooms</h2>
        <div *ngFor="let room of joinedChannels; let i = index">
          <app-chat [socket]="getSocket()" [room]="room">
        
          </app-chat>
        </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<h1>
    Welcome {{username}}
  </h1>
  
  <div>{{generalMessage}}</div>
  <div>{{error}}</div>