<h1>
  Welcome to {{room}}'s chatroom
</h1>


<div class="container">
  <div class="row">
    <h3 class="col-sm">messages</h3>
    <h3 class="col-sm">authors</h3>
  </div>

</div>
<div class="container">
  <div class="row" *ngFor="let message of oldMessages; let i = index">
    <div class="col-sm">{{message.message}}</div>
    <div class="col-sm TextColor"> {{message.author}}</div>
  </div>
</div>



<div class="container">
  <div *ngFor="let message of messages; let i = index" class="row">
    <div class="col-sm">{{message.message}}</div>
    <div class="col-sm"> {{message.author}}</div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="message" placeholder="chat message"/>
    </div>
    <div class="col-sm">
      <button class="btn btn-success" (click)="sendMessage()">Chat</button>
    </div>

  </div>
</div>