<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" 
      required
      [(ngModel)]="model.username" name="username"
      #username="ngModel"
      >
      <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          username is required
        </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
      required
      [(ngModel)]="model.password" name="password"
      #password="ngModel"
      >
      <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          password is required
        </div>
    </div>

    <button type="submit" class="btn btn-success">Login</button>

  </form>
</div>

