.header{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    background-color: black;
    padding-bottom: 45px;
    
    
}


.left-item{
    color:white;
    padding-top: 12px;
    padding-left: 10px;
    float: left;
    cursor: pointer;
}

.right-item{
    
    color:white;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    float:right;
    cursor: pointer;
}


a {
    color:white;
}


a:link {
    color:white;
    }
    a:visited {
        color:white;
    }
    a:hover {
        color:white;
    }

