<div class="header">
  <div class="left-item">
    <div>
      <div>ChatApp</div>
    </div>
  </div>
  <div *ngIf="!loggedIn">
    <div class="right-item">
      <div>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </div>

    </div>
    <div class="right-item">
      <div>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </div>
    </div>
  </div>

  <div *ngIf="loggedIn">
    <div class="right-item">
      <div (click)="logout()">logout</div>
      <!--<a routerLink="/profile" routerLinkActive="active">Login</a> -->
    </div>
    <div class="right-item">
      <div>{{username}}</div>
      <!--<a routerLink="/profile" routerLinkActive="active">Login</a> -->
    </div>

  </div>
</div>