<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" 
      required
      [(ngModel)]="model.username" name="username"
      #username="ngModel"
      >
      <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          username is required
        </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
      required
      [(ngModel)]="model.password" name="password"
      #password="ngModel"
      >
      <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          password is required
        </div>
    </div>


    <div class="form-group">
      <label for="email">email</label>
      <input type="email" class="form-control" id="email"
      required
      required minlength="3"
      [(ngModel)]="model.email" name="email"
      #email="ngModel"
      >
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

        <div *ngIf="email.errors.required">
          email is required.
        </div>
        <div *ngIf="email.errors.minlength">
          Name must be at least 4 characters long.
        </div>


      </div>
    </div>


    <div class="form-group">
        <label for="name">name</label>
        <input type="name" class="form-control" id="name"
        required
        [(ngModel)]="model.name" name="name"
        #name="ngModel"
        >
        <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
               name is required
          </div>
      </div>

      <div class="form-group">
          <label for="lastname">lastname</label>
          <input type="lastname" class="form-control" id="lastname"
          required
          [(ngModel)]="model.lastname" name="lastname"
          #lastname="ngModel"
          >
          <div [hidden]="lastname.valid || lastname.pristine"
                 class="alert alert-danger">
                 lastname is required
            </div>
        </div>
    

    <button type="submit" class="btn btn-success">Register</button>

  </form>

  
</div>

